.errorTitle {
  margin-top: 100px;
  font-weight: 500;
  font-size: 30px;
  text-align: center;
}

.usersTable {
  max-width: 1200px;
  margin: 0 auto;
}

.usersTable_container {
  display: flex;
}

.usersTable_row {
  display: flex;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;

  &:first-child {
    border-top: 1px solid #000;
  }
}

.usersTableUsersCell {
  padding: 8px;
}

.userTableSelect {
  width: 30%;
}

.usersTableUsersCol {
  width: 30%;
  border-right: 1px solid #000;
}

.usersTableUsersButtom {
  width: 100%;
}

.usersTableHobbiesCol {
  width: 70%;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}

.usersTableHobbiesRow {
  display: flex;
  border-bottom: 1px solid #000;
}